/* To contain the search box in the outer container */

.SearchBoxContainer {
  width: 100%;
  padding: 15px 0 0 0;
  display: flex;
  justify-content: center;
}

.SearchBox {
  box-sizing: border-box;
  width: 95%;
  height: 40px;
  border: none;
  font-size: 1.25em;
  border-bottom: 1px solid #D6D5D5;
  outline: none !important;
  box-shadow: none !important;
}