.PokiList {
  background-color: white;
  width: 65%;
  height: 200px;
  border-radius: 8pt;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.PokiList::-webkit-scrollbar {
  width: 0px; /* Chrome */
}
