.PokiList {
  background-color: white;
  width: 65%;
  height: 500px;
  border-radius: 8pt;
  overflow-y: scroll;
  /* Firefox */
  scrollbar-width: none;
  /* IE 10+ */
  -ms-overflow-style: none;
}

.PokiList::-webkit-scrollbar {
  /* Chrome */
  width: 0px;
}