.PokiCard {
  background-color: white;
  min-height: 120px;
  display: flex;
  border-bottom: 1px solid #D6D5D5;
}

.Img {
  box-sizing: border-box;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid #D6D5D5;
  margin-left: 10px;
  margin-top: 15px;
  margin-right: 25px;
}

.Name {
  font-weight: 700;
  font-size: 2em;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.Data {
  width: 100%;
  margin: 10px 0;
  font-weight: 200;
}

.Info {
  margin-left: 10px;
}

.ExpandedData {
  margin-left: 10px;
  margin-top: 20px;
}

.SubTitle {
  font-weight: 500;
}

.Btn {
  margin-right: 10px;
}